:host {
  display: block;
  position: relative;
}

.help-icon {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.4rem;
  height: 1.4rem;
  opacity: 0.75;
  padding: 0;
}

.help-container {
  border: 1px solid gray;
  padding: 1rem;
  background: #141414;
  position: absolute;
  right: 0.5rem;
  width: 200px;
  font-size: 0.8rem;
  top: calc(100% + 0.5rem);
}
