.grid-tasks {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.grid-tasks-list {
  overflow: auto;
  height: 100%;
  padding: 0;
}

.grid-tasks-list-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  border-bottom: 1px solid gray;
}

.grid-tasks-list-item-completed {
  text-decoration: line-through;
  opacity: 0.5;
}
