<div class="task-list-title">
  <button class="button" (click)="toggleShowALl()">
    {{ (showAll$ | async) ? 'Show Incomplete' : 'Show All' }}
  </button>

  <simple-notes-help></simple-notes-help>
</div>

<ul class="tasks-list">
  <li
    *ngFor="let task of visibleTasks$ | async as tasks; trackBy: trackTaskById"
    class="tasks-list-item"
    [class.tasks-list-item-completed]="task.completed"
  >
    <p>{{ task.id }} - {{ task.task }}</p>

    <button class="ml-4" (click)="onToggle(task)">
      {{ task.completed ? '❌' : '✅' }}
    </button>
  </li>
</ul>
